<template>
     <main class="main">
            <!-- Breadcrumb -->
            
               <div class="container"  v-for="vacante in arrayvacante" :key="vacante.id">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Portfolio Item
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" v-text="vacantes.nombre"></li>
      </ol>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>
       

        <div class="col-md-4">
          <h3 class="my-3">Description</h3>
          <p v-text="vacantes.descripcion"></p>
          <h3 class="my-3">Informacion</h3>
          <ul>
            <label>Fecha</label>
            <li v-text="vacantes.Fecha"></li>
            <label>Empresa</label>
            <li v-text="vacantes.nombre_empresa"></li>
            <label>Salario</label>
            <li v-text="vacantes.salmaximo"></li>
            <label>Correo</label>
            <li v-text="vacantes.Correo"></li>
            <label>Cantidad</label>
            <li v-text="vacantes.Cantidad"></li>            
            <label>Ciudad</label>
            <li v-text="vacantes.nombre_ciudad"></li>
            <label>Tipo de contrato</label>
            <li v-text="vacantes.nombre_tipoempleo"></li>
            <label>Experiencia</label>
            <li v-text="vacantes.experiencia"></li>
            <label>Lenguaje</label>
            <li v-text="vacantes.nombre_lenguaje"></li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div> 
            <!-- Fin del modal Eliminar -->
        </main>
</template>

<script>
    export default {
        data(){
            return {
                           
                   
            arrayvacante : [],
            ciudado_id : 0,
            nombre_ciudad : '',
            arrayciudad :[],
            vacante_id : '',
            
    

            }
        },

        methods : {
            mostrarvacante(){
                let me=this;
                var url = '/vacante' ;
                axios.get(url).then(function (response) {
                  console.log(response);
                  })
                .catch(function (error) {
                console.log(error);
                 });
            },

            

        },

        mounted() {
           this.mostrarvacante();
           
        }
    }
</script>
<style>

 .mostrar{
     display: list-item !important;
     opacity: 10 !important;
     position: absolute !important;
     background-attachment: #3c29297a !important;
 }

 .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
  .div-container{
    color: aliceblue
  }  
</style>
